/* lets play css role  */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #f5f5f5; 
  margin: 0;
  padding: 20px; 
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s, background-color 0.3s; 
}

.emoji:hover {
  transform: scale(1.05); 
  background-color: #e8e8e8; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.emoji h2 {
  margin: 0 ;
  border-bottom: 2px solid #ccc;
  font-size: 1.5rem;
  order: 2;
  font-weight: bold;
  color: #333; 
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  order: 4;
  transition: background-color 0.3s; 
}

.emoji a:hover {
  background-color: #7A0E7A; 
}

.icon {
  font-size: 4rem;
  text-align: center;
  margin: 0.5rem 0;
  order: 1;
}

.emojis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  max-width: 900px; 
  margin-left: 0; 
}

.emoji p {
  flex-grow: 1;
  margin-top: 0.5rem;
  order: 3;
  color: #222; 
}



/* jus playing media query */

@media (max-width: 600px) {
  .emojis {
    grid-template-columns: 1fr; 
  }
  
  .emoji h2 {
    font-size: 1.3rem; 
  }
  
  .emoji p {
    font-size: 0.9rem; 
  }
  
  .icon {
    font-size: 3.5rem; 
  }
}
